<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>transparency</key>
		<false/>
		<key>author</key>
		<string>John Shaw</string>
		<key>filename</key>
		<string>absurd32</string>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<dict>
		<key>author</key>
		<string>NetHack DevTeam</string>
		<key>filename</key>
		<string>nhtiles</string>
		<key>width</key>
		<integer>16</integer>
		<key>height</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>author</key>
		<string>NetHack DevTeam</string>
		<key>filename</key>
		<string>tiles32</string>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<dict>
		<key>author</key>
		<string>Robert M. Cook</string>
		<key>filename</key>
		<string>geoduck 10x20</string>
		<key>width</key>
		<integer>10</integer>
		<key>height</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>author</key>
		<string>Robert M. Cook</string>
		<key>filename</key>
		<string>geoduck 20x40</string>
		<key>width</key>
		<integer>20</integer>
		<key>height</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>author</key>
		<string>kbailey</string>
		<key>filename</key>
		<string>chozo32</string>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
	<dict>
		<key>author</key>
		<string>James Hogwood</string>
		<key>filename</key>
		<string>chozo32b</string>
		<key>width</key>
		<integer>32</integer>
		<key>height</key>
		<integer>32</integer>
	</dict>
</array>
</plist>
